<h1>Meetups</h1>

<ul>
  <% @meetups.each do |meetup| %>
  <li><a href=/meetups/<%= meetup["id"] %>  target="_blank"><%= meetup["name"] %></a></br>
  </li></br></br></br>
  <% end %>
</ul>

<a href=/new>Create a New Meetup </a>
