<h1>Contacts</h1>


  <% @contacts.each do |contact| %>
  <a href='/contacts/<%= contact.id %>'><%= contact.first_name %> <%= contact.last_name %> </a>
    <ul>
      <li><%= contact.phone_number %></li>
      </a>
    </ul>
  <% end %>
